Package: com.huami.DYYY
Name: DYYY
Version: 1.2
Description: 仅供学习交流，请在24内小时内自觉删除
Section: Tweaks
Depends: firmware (>= 5.0), mobilesubstrate
Priority: optional
Author: huami
Architecture: iphoneos-arm
