Package: com.huami.dyyy
Name: DYYY
Version: 2.2-7
Description: 仅供学习交流，请在 24 小时内自觉删除。
Homepage: https://github.com/huami1314/DYYY
Section: Tweaks
Depends: firmware (>= 5.0), mobilesubstrate
Priority: optional
Maintainer: huami
Author: huami
Architecture: iphoneos-arm